@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Jost:wght@300;400&display=swap');
/* common  */
html body { font-family: 'Jost', sans-serif;font-size: 18px;color: #555555;}
html body h1, html body h2, html body h3, html body h4, html body h5, html body h6 { color: #000; font-family: 'DM Serif Display', serif;font-weight: 400;}
body .btn { border-radius: 10px; box-shadow: 0px 10px 20px 0px rgba(192, 192, 192, 0.35);padding: 12px 20px;}
body .btn-primary {background: #292F36; border-color: #292F36; }
body .btn-primary:hover {background: #292F36; border-color: #292F36; }
body .text-secondary {color: #688C8D;}
body .text-orange {color: #DA7228;}
body .btn.withicon i {margin-left: 7px;color: #BBDB8E;}
body a {text-decoration: none; cursor: pointer; transition: all 0.3s ease-in-out 0s;}
body a:hover {color: #DA7228;}
.sections {padding: 70px 0px;}
img {max-width: 100%;}
.shape-four-img {border-radius:0px 160px 0px 300px;}
.roudbtn {width: 40px; height: 40px; display: inline-flex; border-radius: 50%; background-color: #000; color: #fff; align-items: center; justify-content: center;}
/* Header  */
.site-headers .dropdown-menu {min-width: 530px; padding: 30px; border: none; background: #FFF; left: -200px; box-shadow: 1px 2px 22px rgba(0, 0, 0, 0.20); transform-origin: 0 0 0; transform: scaleY(0); transition: all 0.3s ease-in-out; }
.site-headers .dropdown:hover .dropdown-menu { transform: scaleY(1);}
.site-headers .navbar-nav .nav-link {color: #000;padding: 8px 20px;}
.site-headers .navbar-nav .menudesc a {color: #000;}
.site-headers .navbar-nav .menudesc p {color: #4D5053;}
.site-headers .navbar-nav .menudesc a i {color: #DA7228;}
.site-headers .navbar-nav .menudesc a:hover {color: #DA7228;}
.site-headers.fixed { position: fixed !important; background: #fff; left: 0; box-shadow: 1px 1px 10px rgba(0,0,0,0.12) !important; animation: slide-down 0.7s;opacity: 1; right: 0; z-index: 999;}
.site-headers.fixed .logo img { height: 40px;}
.site-headers.fixed .navbar { padding: 10px; }
.site-headers .navbar-toggler:focus {outline: none;box-shadow: none;}
@keyframes slide-down {
  0% { opacity: 5; transform: translateY(-100%);}
  100% { opacity: 1; transform: translateY(0);}
}
@media (min-width: 992px) {
.site-headers .dropdown-menu { display: block;}
}
.menudesc {position: relative;padding-left: 30px;margin-bottom: 30px;}
.menudesc .menuicon {position: absolute; left: 0; top: 0;}
.withicon {display: inline-flex; align-items: center;}
.withicon i {margin-left: 7px;}
/* banner  */
.slidewrapper {min-height: 630px; display: flex; align-items: center; background-size: cover; background-position: top left; background-repeat: no-repeat;}
.slide1 {background-image: url(../images/slide-1.jpeg);}
.slide2 {background-image: url(../images/slide-2.jpeg);}
.carousel-control-next, .carousel-control-prev {width: 30px; height: 30px; margin: auto;}
/* our service */
.our-service .seriveblock {text-align: center;margin-top: 20px; margin-bottom: 20px;}
.shape-one-img {border-radius: 0px 250px 0px 123px;}
/* about us  */
.about-us .aboutrap { border-radius: 70px; background: #F4F0EC; padding: 40px 60px; overflow: hidden; }
.aboutrap h3 {font-size: 45px;}
/* choose us  */
.feature-block {background-color: #fff;padding: 50px 20px; text-align: center; box-shadow: 0px 0px 0px rgba(192, 192, 192, 0.35); transition: all 0.3s ease 0s;}
.feature-block.hasbg {background: rgba(255, 210, 105, 0.15);}
.feature-block p {min-height: 140px;}
.feature-block:hover { background-color: #f8ffef; box-shadow: 1px 1px 30px rgba(192, 192, 192, 0.35);position: relative;z-index: 10;}
/* project  */
.project-title {display: flex; justify-content: space-between; align-items: center; padding: 15px 0px 10px;}
.pro-action {flex: 0 0 auto; width: 50px;}
.project-title .pro-action a {background-color: #FFD269;color: #000; flex: 0 0 auto; display: flex; align-items: center; justify-content: center; width: 50px; height: 50px; font-size: 25px; border-radius: 50%;}
.project-card .shape-two-img {border-top-right-radius: 100px;}
.project-card .shape-three-img {border-top-left-radius: 100px;}
.project-card {max-width: 550px;margin-top: 30px;}
/* cta section  */
.cta-wrapper {border-radius: 70px; background: #A1E2D2; text-align: center; padding: 80px;}
.cta-wrapper h2 {font-size: 45px;margin-bottom: 20px;}

/* service page  */
.page-header {height: 300px; width: 100%; background-size: cover; background-repeat: no-repeat; position: relative;}
.page-header::before {content: ""; background-color: rgba(0, 0, 0, 0.4); left: 0; right: 0; top: 0; bottom: 0; position: absolute; }
.servicepage {background-image: url(../images/services/services-pageheader.jpeg);}
.aboutpage {background-image: url(../images/about-us/about-header.jpeg);}
.brandingpage {background-image: url(../images/services/branding.jpeg);}
.contactpage {background-image: url(../images/contact-us.jpeg);}
.portfoliopage {background-image: url(../images/portfolio/page-portfolio.jpeg);}
.pagetitle {background-color: #fff; padding: 15px 30px; border-top-left-radius: 15px; border-top-right-radius: 15px; display: inline-block; }
.pageinfo { position: absolute; bottom: 0; left: 0;z-index: 99; right: 0;}
.pagetitle h1 {margin-bottom: 0px;font-size: 45px;}
.serv-info {display: flex;align-items: flex-start;}
.serv-info h2 {white-space: nowrap;}
.serv-info .sevbody {padding-left: 30px;}
.procesimg {border-radius: 25px;}
/* about page  */
.teamphoto {padding-right: 30px;}
.teamphoto img {border-radius: 20px; box-shadow: 1px 1px 20px rgba(0,0,0,0.12);}
/* contact page */
.contact-info {border-radius: 50px; padding: 50px 30px 50px; background: #F4F0EC;width: 349px;}
.contact-info ul.lisinfo {list-style: none;padding: 0;}
.contact-info ul.lisinfo li {display: block; margin-bottom: 30px;}
.contact-info ul.lisinfo li img {margin-right: 10px;}
.form-group {margin-bottom: 50px;}
.contact-forms input, .contact-forms textarea {border: none; border-bottom: 1px solid #000; padding: 6px 0px;width: 100%;}
.contact-forms textarea {height: 130px;}
.contact-forms input:focus, .contact-forms textarea:focus {outline: none; border-color: #DA7228;}
.bgblue {background-color: #31496E;}
/* portfolio page  */
.portfoliowrapper { display: flex; flex-wrap: wrap; padding: 30px; align-items: center; border-radius: 62px; border: 1px solid #E7E7E7; box-shadow:1px 10px 43px 0px #ebe9e9;}
.portfoliowrapper .projsnap {width: 500px; flex: 0 0 auto;}
.portfoliowrapper .projsnap img {border-radius: 25px;}
.portfoliowrapper .prjinfo {width: calc(100% - 500px); flex: 0 0 auto; padding: 40px;}
.portfoliocard {border-radius: 30px; padding: 15px; border: 1px solid #E7E7E7; box-shadow:1px 10px 43px 0px #ebe9e9;}
.portfoliocard .projsnap img {border-radius: 30px;}
.portfoliocard:hover {background: #F4F0EC;}
.projectbody {padding-top: 20px;}
.projectbody h5 {padding-top: 10px;}
.projectbody p {color: #666666;font-weight: 300;padding-top:10px;}
.projectbody a.roudbtn {background-color: #F4F0EC; color: #000;} 
.portfoliocard:hover a.roudbtn {background-color: #fff;}
.pageantion {margin-top: 40px; display: flex; justify-content: center;}
.pageantion .page-link {color: #000; border-color: #DA7228;margin-right: 20px; border-radius: 50% !important;width: 40px; height: 40px; display: inline-flex;justify-content: center; align-items: center;}
.pageantion .active .page-link {background-color: #F4F0EC !important;}
.breadcrumb-item a {color: #000 !important;}
.massnaorygrid .projimg {margin-bottom: 30px;}
.titlecenter {text-align: center;}
.credcumpcenter {display: flex; justify-content: center;}
/* footer  */
.site-footers {}
.widget-title {padding-bottom: 15px;}
.footer-widgets ul {list-style: none; padding: 0; margin: 0; }
.footer-widgets ul li a {display: inline-block; padding: 7px 0px; margin-bottom: 10px; color: #292F36;}
.soical-links {list-style: none; padding: 0; margin: 0; margin-top: 30px; display: flex; flex-direction: row; }
.soical-links li a {display: block; padding: 4px 10px !important; margin-right: 5px; color: #292F36;}
.footer-widgets ul li a:hover {color: #CDA274;}

/* responsive media query  */

@media(max-width:1200px) {
  .portfoliowrapper .projsnap {width: 300px; }
  .portfoliowrapper .prjinfo {width: calc(100% - 300px);}
}
@media(max-width:992px) {
  .portfoliowrapper .projsnap {width: 200px; }
  .portfoliowrapper .prjinfo {width: calc(100% - 200px);padding: 15px;}
.navbar-collapse {padding-top: 30px;}
.site-headers .dropdown-menu {box-shadow: none; margin: 0px 0px 20px; min-width: 100%;transform: scaleY(1);display: block;
    padding: 20px; border: 1px solid #ddd;}
.aboutrap h3 { font-size: 34px;}
.about-us .aboutrap { border-radius: 30px; padding: 30px;}
.shape-one-img { border-radius: 0px 80px 0px 80px;}
.contact-forms {padding-top: 30px;}
}

@media(max-width:767px) {
  .contact-info {width: 100%;}
  .portfoliowrapper .prjinfo h3 {padding-top: 15px;}
  .page-header {height: 160px;}
  .pagetitle h1 {font-size: 30px;}
  .portfoliowrapper .projsnap {width: 100%; }
  .portfoliowrapper .prjinfo {width: 100%;}
html body {font-size: 16px;}
.slidewrapper { padding: 40px 0px; min-height: auto;}
.navbar-collapse {padding-top: 30px;}
.sections {padding: 40px 0px;}
.aboutrap h3 { font-size: 24px;}
.aboutimg {margin-top: 30px;}
.feature-block {padding: 30px 20px;}
.cta-wrapper {padding: 30px;border-radius: 30px;}
.cta-wrapper h2 {font-size: 27px;}
.footer-widgets {margin-top: 30px;}
}